<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wmtouch_trigger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wmtouch_trigger.Properties.Settings>
            <setting name="CommandLine" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivateOncePerResume" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActivationHoldoff" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DockBottom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SMTPHost" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToAddr" serializeAs="String">
                <value />
            </setting>
        </wmtouch_trigger.Properties.Settings>
    </userSettings>
</configuration>